body {
    background-color: #d0ac77;
}

.login {
    text-align: right;
    padding-left: 15px;
    gap: 15px;

}

.loginNav {
    font-size: 20px;
    gap: 20px;
}

.loginNav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.Homecard {
    position: relative;
    margin-top: 30px;
    border-radius: 10px;
    background-image: url("images/coffeBackground1.jpg");
    background-size: cover;
    min-height: 300px;
    min-width: 150px;
    box-shadow: black;
}

.ProductSearchHome button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height:30px;
    width: 100px;
    color: black;
    font-size : 15px;
    background-color: #d0ac77;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.featuredHeader{
    justify-content: center;
   display:flex;
}

.featuredHeader img{
    margin-top: 20px;
    height: 110px;
   
}
/* Hamburger icon */
#hamburger {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
}

/* Side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    background-color: #575757;
}

/* Close button */
.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}